body {
    background: powderblue;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment {
    display: flex;
    padding: 10px;
    margin: 10 px;
    background: lightgray
}

.assignment img {
    width: 200px;
    padding: 10px;
}

h1 {
    color:brown;
    text-align:center;
}